.devcontainer/*
.github/*
.vscode/*
badges/*
docker/*
megalinter-reports/*
.eslintignore
.eslintrd.json
.gitattributes
.gitignore
.markdown-lint.yml
.mega-linter.yml
.node-version
.prettierignore
CODEOWNERS
eslint.config.mjs
jest.config.ts
README.md
tsconfig.elint.json
